<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>265486507952-0fts97s5nh67s33th48u6sk2e8v6kvue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265486507952-0fts97s5nh67s33th48u6sk2e8v6kvue</string>
	<key>API_KEY</key>
	<string>AIzaSyAqeL_p9Sh62WBeyl2O4upb8IojVrdvYaM</string>
	<key>GCM_SENDER_ID</key>
	<string>265486507952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omrobbie.RWRC</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-dced4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-dced4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265486507952:ios:806eac8ce5836e40</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-dced4.firebaseio.com</string>
</dict>
</plist>